RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^login$         view_login.php [NC,L]
RewriteRule ^home$          view_home.php [NC,L]

RewriteRule ^app.css$       css_app.css [NC,L]

RewriteRule ^app.js$        js_app.js [NC,L]
RewriteRule ^validator.js   js_validator.js [NC,L]


