:root {
  --padding: .5rem .5rem;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

  }
  body {
    width: 100vw;
    height: 100vh;
    background: rgba(33,3,58, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background:rgba(33,3,58, 0.5);
    z-index: 99;
  }

  header{
    width: 80vw;
    height: 6vh;
    display: flex;
    justify-content: end;
    gap: 1vw;
    background-color: rgba(33,3,58, 1);
    padding: 1rem 1rem;
    position: relative;
    left: 7vw;
  }
  header #logo_container {
    display: flex;
    width: 80vw;
  }
  header #logo_container img {
    width: 130px;
    height: 20px;
  }
  header a {
    all: unset;
    color: white;
    cursor: pointer;
  }



  header #login_button_container {
    display: flex;
    width: 101.5px;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #e1d9e8;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
  }
  header #login_button_container svg {
    width: 20px;
    height: 20px;
  }
  header #login_button_container p {
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
  header #login_button_container:hover {
    background-color: #e1d9e8;
    
  }
  header #login_button_container:hover p {
    color: black;
    
  }
  header #login_button_container:hover svg path {
    fill: black;  
  }


  #login_container {
    display: none; 
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 42.5rem;
    background: white;
    border-radius: 1rem;
    top: 5rem;
    left: 44rem;
    z-index: 99;
    padding: var(--padding);
  }
  #login_container img {
    width: 26.8rem;
    padding-top: 2rem;
  }
  #login_container #logo_login {
    width: 9.86rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    left: 1.7rem;
  }
  #login_container #exit_button {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.8rem;
    right: 0.6rem;
    cursor: pointer;
  }

  #login_container #form_sign_in{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #login_container #form_sign_in input {
    width: 15rem;
  }
  #login_container #form_sign_in button {
    background-color:rgba(33,3,58, 0.3);
    border: 0.1rem solid black;
    border-radius: 0.2rem;
  }
  #login_container #form_sign_in button:hover {
    background-color:rgba(255, 255, 255, 0.5);
    border: 0.1rem solid black;
    cursor: pointer;
  }


  #login_container #form_sign_up {
    display: none;
    flex-direction: column;
    gap: 2rem;
  }

  #login_container #form_sign_up input {
    width: 15rem;
  }
  #login_container #form_sign_up button {
    background-color:rgba(33,3,58, 0.3);
    border: 0.1rem solid black;
    border-radius: 0.2rem;
  }
  #login_container #form_sign_up button:hover {
    background-color:rgba(255, 255, 255, 0.5);
    border: 0.1rem solid black;
    cursor: pointer;
  }



  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 4vw;
    background-color: rgba(33,3,58, 1);
    border-right: 1px solid rgba(167,98,234,0.4); 
    position: absolute;
    top: 0;
    padding: 4rem 0rem;
    gap: 1rem;
  }

  nav a svg{
    height: 24px;
    width: 24px;
  }
  nav a:hover{
    background-color: #e1d9e8;
    border-radius: 8px;
    padding: var(--padding);
  }
  /* #line {
    position: absolute;
    width: 0.5vw;
    height: 100vh;
    background: rgba(167,98,234,0.4);;
    top: 0;
    left: 4vw;
  } */

  nav a {
    color: white;
    cursor: pointer;
    display: flex;
  }
  footer {
    width: 100vw;
    background-color: rgba(33,3,58, 0.5);
  }

  #flight_form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7vw;
    left: 7vw;
    width: 90vw;
  }
  #flight_form #flight_search {
    display: flex;
    justify-content: center;
    gap: .5rem;
    background: #0095cc;
    border-radius: 8px;
    padding: var(--padding);

  }
  
  #flight_form #flight_search #from_container {
    position: relative;
  }
  #flight_form #flight_search #from_container #from_icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0.9rem;
    left: 1rem;
  }
  #flight_form #flight_search #to_container .to_icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0.9rem;
    left: 1rem;
    z-index: 2;
  }

  

  #flight_form #flight_search #from_container #from_city {
    height: 52px;
    width: 206px;
    border-radius: 10px;
    border: none;
    padding-left: 3rem;
    cursor: pointer;
  }

  #flight_form #flight_search #from_container #from_result {
    display: none;
    width: 20vw;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: calc(52px + .5rem);
    left: -.5rem;
    padding: var(--padding);
    
  }

  #flight_form #flight_search #from_container #from_result .from_city:hover{
    background: rgba(33,3,58, 0.3);
    cursor: pointer;
  }

  #flight_form #flight_search #from_container #from_result .from_city {
    display: flex;
  }

  #flight_form #flight_search #from_container #from_result .from_city div {
    display: flex;
    flex-direction: column;

  }
  #flight_form #flight_search #from_container #from_result .from_city img {
    pointer-events: none;
    height: 56px;
    width: 56px;
    border-radius: 8px;
  }
  #flight_form #flight_search #from_container #from_result .from_city .abr {
    pointer-events: none;
    padding-left: 0.3rem;
  }
  #flight_form #flight_search #from_container #from_result .from_city .from_city_country {
    pointer-events: none;
  }

  #flight_form #flight_search #from_container #from_result .from_city .airport {
    pointer-events: none;
    font-size: 0.6rem;
  }

  /* //////////////////////////to_city/////////////////////////////////// */

  #flight_form #to_container {
    position: relative;
  }

  #flight_form #flight_search #to_container #to_city {
    height: 52px;
    width: 206px;
    border-radius: 10px;
    border: none;
    padding-left: 3rem;
    cursor: pointer;

  }

  #flight_form #flight_search #to_container #to_result {
    display: none;
    width: 20vw;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: calc(52px + 0.5rem);
    padding: var(--padding);
  }

  #flight_form #flight_search #to_container #to_result .to_city:hover{
    background: rgba(33,3,58, 0.3);
    cursor: pointer;
  }

  #flight_form #flight_search #to_container #to_result .to_city {
    display: flex;
  }

  #flight_form #flight_search #to_container #to_result .to_city div {
    display: flex;
    flex-direction: column;

  }
  #flight_form #flight_search #to_container #to_result .to_city img {
    pointer-events: none;
    height: 56px;
    width: 56px;
    border-radius: 8px;
  }
  #flight_form #flight_search #to_container #to_result .to_city .abr {
    pointer-events: none;
    padding-left: 0.3rem;
  }
  #flight_form #flight_search #to_container #to_result .to_city .to_city_country {
    pointer-events: none;
  }

  #flight_form #flight_search #to_container #to_result .to_city .airport {
    pointer-events: none;
    font-size: 0.6rem;
  }

  
  #flight_form #flight_search #switch_city {
    width: 44px;
    height: 52px;
    background-color: #b3dff0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #flight_form #flight_search #switch_city svg {
    width: 38px;
    height: 38px;
    cursor: pointer;

  }

  #flight_form #flight_search div #flight_date {
    height: 52px;
    width: 350px;
    border-radius: 10px;
    border: none;
    padding: 1vw;
  }



.display_none{
  display: none;
}
/* ANIMATIONS */
  .flip {
    animation: 0.2s 1 flipKF;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .flipBack {
    animation: 0.2s 1 flipBackKF;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

@keyframes flipKF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes flipBackKF {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}